*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

body {
    font-size: 20px;
    font-family: "Segoe UI";
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 45px;
    font-weight: 100;
}

h3 {
    font-size: 30;
    font-weight: 100;
}

ul {
    list-style-type: none;
    display: flex;
}

hr {
    margin: 25px;
}

.nav__li {
    padding-left: 25px;
    text-decoration: none;
    color: black;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks {
    justify-content: left;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-cart {
    display: flex;
    justify-content: right;
    padding-right: 25px;
}

.cart {
    padding-left: 25px;
    text-decoration: none;
    color: black;
}

.logo-image {
    height: 40px;
    width: 40px;
}

.magnifying-glass {
    height: 26px;
    width: 26px;
}

.search-box {
    background-image: url(./assets/1200px-Google_Magnifying_Glass.svg.png);
    background-position: right;
    background-size: 26px;
    background-repeat: no-repeat;
    height: 30px;
}

.nav-hr {
    border-top: 5px solid black;
}

.home-section {
    height: 633px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
            90deg,
            black 12%,
            transparent 30%,
            transparent 70%,
            black 88%
        ),
        url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    color: white;
    padding: 50px;
    position: relative;
    display: flex;
}

.home-top {
    position: absolute;
    flex-wrap: wrap;
    width: 378px;
}

.home-bottom {
    position: absolute;
    bottom: 10%;
    right: 10%;
    flex-wrap: wrap;
    width: 284px;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
}

.section-title {
    width: 100%;
}

.hr-sections {
    border-top: 5px solid black;
    width: 60%;
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}

.paragraph-and-image {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.about-text-1 {
    width: 90%;
    margin-left: 10%;
    margin-top: 2%;
}

.about-img-right {
    width: 600px;
    height: 808px;
    margin-left: 30px;
    align-self: flex-end;
}

.about-img-left {
    width: 397px;
    height: 534px;
    margin-top: 100px;
}

.center-text {
    justify-content: space-between;
    width: 45%;
    margin-left: 55px;
    margin-right: 0;
    margin-top: 5%;
}

.product-card {
    width: 398px;
    margin: 60px;
}

.product-image {
    height: 398px;
    width: 398px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.product-h3 {
    display: flex;
    justify-content: space-between;
}

.product-hr {
    margin: 20px 0;
    width: 75%;
    border-top: 5px solid black;
}

.learn-more {
    color: #bf7631;
}

.cart {
    color: white;
    background-color: #bf7631;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    border: none;
}
